<% provide(:title, "Alexander Hughes - Portfolio") %>

<script type="text/javascript">
$(document).ready(function(){
	$('.bio-page').hide()
	$('.code-page').hide()
	
	$("a.bio").click(function(){
		$('.bio-page').show();
		$('sections.bio').css("background-color", "red")
		$('.contact-page').hide();
		$('.code-page').hide();
		});
	
	$("a.contact").click(function(){
		$('.contact-page').show();
		$('.bio-page').hide();
		$('.code-page').hide();
		});
	
	$("a.code").click(function(){
		$('.contact-page').hide();
		$('.bio-page').hide();
		$('.code-page').show()
		});
	});
</script>

<body>
<div class="sections"><a class="code">CODE</a></div>
<div class="sections"><a class="bio">ABOUT</a></div>
<div class="sections"><a class="contact">CONTACT</a></div>
<div class="sections"><a class="cv"><%= link_to "CV", "/Hughes_Alexander_CV.pdf", :target => "_blank" %></a></div>
<span class="stretch"></span>

<div class="code-page">
	<table>
	<tr>
		<td>Description</td>
		<td>Screenshot</td>
	</tr>
	<tr>
		<td>Description</td>
		<td>Screenshot</td>
	</tr>
</table>
</div>

<div class="bio-page">
	<div id="left">
	<h4>Education</h4>
	<p>I received my B.A. <em>magne cum laude</em> in <%= link_to "History", "http://www.brown.edu/academics/history/", :target => "_blank" %> and <%= link_to "Economics", "http://www.brown.edu/academics/economics/", :target => "_blank" %> from <%= link_to "Brown University", "http://brown.edu", :target => "_blank"  %> in 2010.</p>
	<p>I focused on Early American and European Intellectual history, and still have an intense interest in art, philosophy, and political thought, especially as it relates to cultural, political, and social structures.</p>
	<p>In Economics, my coursework was significantly less abstract, and focused mostly on macroeconomics, economic growth, and some corporate finance.</p>
	<p>While at Brown, I was a General Manager of <%= link_to "The Brown Daily Herald", "http://browndailyherald.com", :target => "_blank" %>.</p>
	<p>My coding knowledge is self-taught, with lots of help from <%= link_to "piinecone", "http://www.piinecone.com", :target => "_blank" %>.</p>
	</div>
	
	<div id="right">
	<h4>Professional Experience</h4>
	<p>In 2010, I joined the Japanese investment bank <%= link_to "Nomura Securities", "http://www.nomura.com", :target => "_blank" %> in its first formal analyst class following its <%= link_to "acquisition of Lehman Brother's international group assets", "http://www.theguardian.com/business/2008/sep/23/lehmanbrothers.banking1", :target => "_blank" %>. I joined the Fixed Income Syndicate desk in New York, helping clients raise capital in the USD debt capital markets. I was promoted to Assoicate in April, 2012. I left Nomura in June, 2014.</p>
	<p>I also spent a year and a half working on creating a premium Ready-To-Drink alcoholic beverage with bourbon, rum, gin, and vodka bases.</p>
	<p>For a complete record of my professional experience, you can <%= link_to "view my CV", "/Hughes_Alexander_CV.pdf", :target => "_blank" %>.</p>
	</div>
</div>

<div class="contact-page">
	<div class="contact-info">
		<p class="name">Alexander Hughes</p>
		<p>----</p>
		<p>ahughes1231@gmail.com</p>
		<p><%= link_to "github", 'https://github.com/alexanderhughes', :target => "_blank" %></p>
		<p><%= link_to "linkedin", 'https://linkedin.com/in/alexanderwhughes', :target => "_blank" %></p>
		<p><%= link_to "twitter", 'https://twitter.com/alexanderhughes', :target => "_blank" %></p>
	</div>
</div>
</body>