<!DOCTYPE html>
<html>
<head>
  <title><%=yield (:title)%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</head>
	<body>
		<header class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
		    <nav>
		      <ul class="nav navbar-nav navbar-right">
				<li>Alexander Hughes</li>
		      </ul>
		    </nav>
		  </div>
		</header>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>