<!DOCTYPE html>
<html>
<head>
  <title><%=yield (:title)%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <meta name="google-site-verification" content="GDbzaVnqgzziR4GRHG1yhXsFHxldABNl-RhD9IDlD7E" />
</head>
	<body>
		<header class="header">
			<div class="header-name">
			<p>ALEXANDER HUGHES</p>
			</div>
		</header>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>